body{
    background-color: black;
}
.gradient-text {
    background: linear-gradient(to right, yellow, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .footer-list {
    font-size: 18px; /* Increase font size */
    color: black; /* Make text color black */
    list-style: none;
    padding: 0;
  }
  
  